.slide {
    background-image: url(../img/img-bg-slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    
  }
